package com.ejemplo;

import java.io.IOException;
import java.util.List;

import org.uma.jmetal.algorithm.examples.AlgorithmRunner;
import org.uma.jmetal.algorithm.multiobjective.nsgaii.NSGAII;
import org.uma.jmetal.algorithm.multiobjective.nsgaii.NSGAIIBuilder;
import org.uma.jmetal.operator.crossover.CrossoverOperator;
import org.uma.jmetal.operator.crossover.impl.{{CrossoverOperator}};
import org.uma.jmetal.operator.mutation.MutationOperator;
import org.uma.jmetal.operator.selection.SelectionOperator;
import org.uma.jmetal.operator.selection.impl.{{SelectionOperator}};
import org.uma.jmetal.problem.Problem;
import org.uma.jmetal.problem.ProblemFactory;
import org.uma.jmetal.solution.doublesolution.DoubleSolution;
import org.uma.jmetal.util.AbstractAlgorithmRunner;
import org.uma.jmetal.util.comparator.RankingAndCrowdingDistanceComparator;
import org.uma.jmetal.util.errorchecking.JMetalException;
import org.uma.jmetal.operator.mutation.impl.{{MutationOperator}};


public class AppExample extends AbstractAlgorithmRunner {
    public static void main( String[] args ) throws JMetalException, IOException {
        String problemName = "org.uma.jmetal.problem.multiobjective.Kursawe";
        Problem<DoubleSolution> problem = ProblemFactory.<DoubleSolution>loadProblem(problemName);

        double crossoverProbability = {{CrossoverProbability}};
        double crossoverDistributionIndex = {{CrossoverDistributionIndex}};
        CrossoverOperator<DoubleSolution> crossover = new {{CrossoverOperator}}(crossoverProbability, crossoverDistributionIndex);

        double mutationProbability = {{MutationProbability}};  // 1.0 / problem.numberOfVariables();
        double mutationDistributionIndex = {{MutationDistributionIndex}};
        MutationOperator<DoubleSolution> mutation = new {{MutationOperator}}(mutationProbability, mutationDistributionIndex);

        SelectionOperator<List<DoubleSolution>, DoubleSolution> selection = new {{SelectionOperator}}<>(new RankingAndCrowdingDistanceComparator<>());

        int populationSize = {{MaxPopulationSize}};
        NSGAII<DoubleSolution> algorithm = new NSGAIIBuilder<>(problem, crossover, mutation, populationSize)
                                                .setSelectionOperator(selection)
                                                .setMaxEvaluations({{MaxEvaluations}})
                                                .build();

        AlgorithmRunner algorithmRunner = new AlgorithmRunner.Executor(algorithm).execute();
        List<DoubleSolution> population = algorithm.result();
        printFinalSolutionSet(population);
    }
}
